<!--<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre y Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Tipo Cliente</th>
            <th scope="col">Fecha de llegada</th>
            <th scope="col">Fecha de salida</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of reservas">
            <td>{{ reserva.nombre }} {{ reserva.apellidos }}</td>
            <td>{{ reserva.email }}</td>
            <td>{{ reserva.tipoCliente }}</td>
            <td>{{ reserva.fechaLlegada }}</td>
            <td>{{ reserva.fechaSalida }}</td>
            <td>
                <button type="button" class="btn btn-danger" style="margin-right: 8px;"
                (click)="editarReserva(reserva)">Editar</button>
                <button type="button" class="btn btn-warning" (click)="eliminarReserva(reserva.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table> !-->




